body {
  font-family: "Roboto", sans-serif;
}
.container {
  background-color: #999;
  border: 1px solid #666;
  padding: 20px;
}
.subtitle {
  font-size: 18px;
}
.world-div {
  color: #03045e;
}
.world-span {
  color: #023e8a;
}
.world-h1 {
  color: #0077b6;
}
.world-p {
  color: #0096c7;
}
.world-strong {
  color: #00b4d8;
}
.world-em {
  color: #48cae4;
}
.world-blockquote {
  color: #90e0ef;
}
.world-pre {
  color: #ade8f4;
}
.title {
  text-align: center;
}
